# âœ… Soluciones de Python (BÃ¡sico e Intermedio)

## ðŸŸ¢ Nivel BÃ¡sico

In [ ]:
a, b = 10, 3
print(a + b, a - b, a * b, a / b)

In [ ]:
n = int(input("NÃºmero: "))
print("Par" if n % 2 == 0 else "Impar")

In [ ]:
for i in range(1, 11):
    print(i)

In [ ]:
frutas = ['manzana', 'banana', 'pera', 'naranja', 'kiwi']
frutas.append('uva')
frutas.remove('banana')
print(frutas)

In [ ]:
def saludar(nombre):
    return f"Hola, {nombre}"
print(saludar("Luis"))

In [ ]:
persona = {'nombre': 'Ana', 'edad': 25, 'ciudad': 'Lima'}
for k, v in persona.items():
    print(k, v)

In [ ]:
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

## ðŸŸ¡ Nivel Intermedio

In [ ]:
try:
    a, b = 5, 0
    print(a / b)
except ZeroDivisionError:
    print("Error: divisiÃ³n por cero")

In [ ]:
def suma(a, b=0):
    return a + b
print(suma(5))

In [ ]:
numeros = [1, 2, 3, 4, 5]
cubos = list(map(lambda x: x**3, numeros))
print(cubos)

In [ ]:
class Producto:
    def __init__(self, nombre, precio):
        self.nombre = nombre
        self.precio = precio
    def precio_con_iva(self):
        return self.precio * 1.18
p = Producto("Laptop", 1000)
print(p.precio_con_iva())

In [ ]:
with open("archivo.txt", "w") as f:
    f.writelines(["LÃ­nea 1\n", "LÃ­nea 2\n", "LÃ­nea 3\n"])
with open("archivo.txt", "r") as f:
    print(f.read())

In [ ]:
nombres = ['ana', 'luis', 'carla']
mayus = list(map(str.upper, nombres))
print(mayus)
numeros = [5, 12, 18, 7]
mayores = list(filter(lambda x: x > 10, numeros))
print(mayores)

In [ ]:
listas = [[1,2,3], [4,5], [6,7,8]]
for l in listas:
    print(sum(l))