In [1]:
import pandas as pd

data = {
    'Fecha': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
    'Producto': ['Manzana', 'Pera', 'Manzana', 'Plátano', 'Uva'],
    'Cantidad': [10, 15, 7, 5, 12],
    'Precio': [1.5, 2.0, 1.5, 1.0, 2.5]
}

df = pd.DataFrame(data)
df

        Fecha Producto  Cantidad  Precio
0  2023-01-01  Manzana        10     1.5
1  2023-01-02     Pera        15     2.0
2  2023-01-03  Manzana         7     1.5
3  2023-01-04  Plátano         5     1.0
4  2023-01-05      Uva        12     2.5

In [3]:
#df.describe()
df.head()

        Fecha Producto  Cantidad  Precio
0  2023-01-01  Manzana        10     1.5
1  2023-01-02     Pera        15     2.0
2  2023-01-03  Manzana         7     1.5
3  2023-01-04  Plátano         5     1.0
4  2023-01-05      Uva        12     2.5