In [1]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\supernova dev 2\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\supernova dev 2\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\supernova dev 2\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\supernova dev 2\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\supernova dev 2\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\supernova dev 2\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\Supernova dev 2\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd
df = pd.read_excel('ejercicio_sesion2.xlsx')
df.head()

   id                                              texto      fecha
0   1  Cliente: Carlos GarcÃ­a. Tel: 3004567890. Vive... 2023-01-10
1   2  Cliente: Juan PÃ©rez. Tel: 3123456789. Vive en... 2023-01-11
2   3  Cliente: MarÃ­a LÃ³pez. Tel: 3111234567. Vive ... 2023-01-12
3   4  Cliente: Pedro Mendoza. Tel: 3004567890. Vive ... 2023-01-13
4   5  Cliente: MarÃ­a LÃ³pez. Tel: 3209988776. Vive ... 2023-01-14

In [ ]:
import unicodedata
def normalize_unicode(text):
    if not isinstance(text, str):
        return text
    try:
        return text.encode('latin1').decode('utf-8')
    except:
        return text
    
df['columna_corregida'] = df['texto'].apply(normalize_unicode)

df.head()

TypeError: normalize() argument 2 must be str, not float